body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #928749;
}

header {
    background-color: #187087;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: #C95729;
    color: white;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}